<div class="container-fluid">
  <div class="card w-25 m-3">
    <div class="card-body">
      <h5 class="card-title">Registro</h5>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="persona"
         
        />
       
      </div>

       <div class="mb-3">
        <label for="pais" class="form-label">Pais</label>
        <input
          type="text"
          class="form-control"
          id="pais"
           value="{{pais}}"
          
        />
       
      </div>

      <div class="mb-3">
        <label for="poblacion" class="form-label">Poblacion</label>
        <input
          type="text"
          class="form-control"
          id="poblacion"
             value="{{poblacion}}"
        />
       
      </div>

      
      <div class="mb-3">
        <label for="geometria" class="form-label">Geometria</label>
        <input
          type="text"
          class="form-control"
          id="geometria"
             value="{{geometria}}"
        />
       
      </div>
      <button id="registrar" class="btn btn-primary">Registrar</button>
    </div>
  </div>
</div>
<script src="js/registro-formulario.js"></script>
